@model CvArvCla.Pages.IndexModel

@if (Model?.MessageSent == true)
{
    <div id="likeMessage" class="alert alertmsg alert-success">
        Thank you! Your like has been registered.
    </div>

    
}
<header>
    <div class="container">
        <div class ="mainheader">
            
            <div class="Info" >
                <div class="headerlinksflags">
                    <div class="likesbtnall">
                        <p>Do you enjoy this content?</p>
                        <form method="post" asp-page="/Index" class="likesform">                      
                            <button type="submit" class="btn btn-likes btn-success">👍 Like</button>
                        </form>
                        <p id="likesCounter" class="alertlike">Total likes: <strong>@Model.LikeCount</strong></p>
                    </div>
                    <a href="https://www.linkedin.com/in/clas-arvemark-177580313ile" target="_blank"><img class="flags" alt="Linkedin" src="/images/linkedin.png" /></a>
                    <a href="/"><img class="flags" src="~/images/unitedKingdomflag.png" alt="English" /></a>
                    <a href="/sv"><img class="flags" src="~/images/SwedishFlas.png" alt="Svenska" /></a>
                    <a href="/es"><img class="flags" src="~/images/spanish.png" alt="Español" /></a>
                    <div class="like-header-container text-center mt-4">
                      
                    </div>
                
                </div>
                <div class="headermain">
                    <p class="contactinfo">
                        <a href="mailto:arvemark@outlook.es" class="emailclas" target="_blank">
                            <i class="fa-solid fa-envelope"></i> arvemark@outlook.es
                        </a><br>

                        <a href="tel:+34625943155" class="phoneclas" target="_blank">
                            <i class="fa-solid fa-phone"></i> Telefon Spain: (+34) 625943155
                        </a><br>

                        <a href="tel:+46793510593" class="phoneclas" target="_blank">
                            <i class="fa-solid fa-phone"></i> Telefon Sweden: (+46) 793510593
                        </a><br>

                        <a href="https://www.google.com/maps?q=Los+Cristianos,+Tenerife" class="adressclas" target="_blank">
                            <i class="fa-solid fa-map-pin"></i> Los Cristianos, Tenerife
                        </a><br>

                        <a href="https://www.google.com/maps?q=Gothenburg,+Sweden" class="adressclas" target="_blank">
                            <i class="fa-solid fa-map-pin"></i> Gothenburg, Sweden
                        </a>
                    </p>
                </div>
        </div>
            <div class="cvimg">
                <img class="imgclascv" src="images/Bildclas.jpg" alt="Clasfoto" />
           </div>
        </div>
    </div>
</header>