<header>
    <div class="container">
        <div class ="mainheader">
        <div class="Info" >
            <a href="https://www.linkedin.com/in/clas-arvemark-177580313ile" target="_blank"><img class="flags" src="/images/linkedin.png" /></a>
            <a href="Swedish" class="btn-theme"><img class="flags" src="~/images/SwedishFlas.png" /></a>
            <a href="Index" class="btn-theme"><img class="flags" src="~/images/unitedKingdomflag.png" /></a> 
            <div class="headermain">
                <p class="contactinfo">

                    <i class="fa-solid fa-envelope"><a href="mailto:arvemark@outlook.es" class="emailclas" target="_blank">arvemark@outlook.es</a></i><br>


                    <i class="fa-solid fa-phone "><a href="tel:+34625943155" class="phoneclas" target="_blank">Telefon &nbsp Spain: &nbsp; (+34)625943155</a></i><br>
                    <i class="fa-solid fa-phone "><a href="tel:+46793510593" class="phoneclas" target="_blank">Telefon &nbsp Sweden: &nbsp; (+46)793510593</a></i><br />



                    <i class="fa-solid fa-map-pin">
                        <a href="https://www.google.com/maps?q=Los+Cristianos,+Tenerife" class="adressclas" target="_blank">
                            Los Cristianos, Tenerife
                        </a>
                    </i><br>


                    <i class="fa-solid fa-map-pin">
                        <a href="https://www.google.com/maps?q=Gothenburg,+Sweden" class="adressclas" target="_blank">
                            Gothenburg, Sweden
                        </a>
                    </i>
                </p>
            </div>
        </div>
            <div class="cvimg">
                <img class="imgclascv" src="images/Bildclas.jpg" />
           </div>
        </div>
    </div>
</header>