.wrapper {
  background-color: #f5f5f5;
  width: 100%;
}

.headermain {
  margin-top: 20px;
  display: grid;
}

.mainheader {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-likes {
  background-color: black;
  border-color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-likes:hover {
  background-color: blue;
  border-color: blue;
  color: #fff;
  transform: scale(1.5);
}

.likesbtnall {
  margin-bottom: 10%;
}

.alertmsg {
  width: 70%;
  margin-left: 20%;
}

.emailclas,
.phoneclas,
.adressclas {
  cursor: pointer;
}

@media (max-width: 768px) {
  .maincontentpc {
    display: none;
  }
  .headlinespc {
    display: none;
  }
  .maintxt h1 {
    text-align: start !important;
  }
  .flags:hover {
    transform: scale(1.5);
  }
  .flags {
    height: 28px;
    transition: transform 0.3s ease;
  }
  .headlines {
    display: grid;
    text-align: center;
    margin-bottom: 20px;
  }
  .headlines .maintxt {
    margin-top: -5%;
  }
  .tech {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lista {
    text-align: start;
  }
  .cvimg {
    margin-bottom: 20%;
  }
  .imgclascv {
    display: block;
    margin: 0 auto;
    border-radius: 70px;
    width: 80px;
  }
  .skills {
    margin-top: 10%;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
  .emailclas {
    text-decoration: none;
    text-decoration-line: underline;
    margin-left: 10px;
    color: black;
    font-weight: 700;
    font-size: 12px;
    width: 100px;
  }
  .contactinfo {
    text-decoration: none;
    font-weight: 700;
    width: 250px;
  }
  .phoneclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .adressclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .headermain {
    display: grid;
  }
  footer .footer-copywrite {
    margin-top: 1em;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .maincontentpc {
    display: none;
  }
  .headlinespc {
    display: none;
  }
  .maintxt h1 {
    text-align: start !important;
  }
  .flags:hover {
    transform: scale(1.5);
  }
  .flags {
    height: 28px;
    transition: transform 0.3s ease;
  }
  .headlines {
    display: grid;
    text-align: center;
    margin-bottom: 20px;
  }
  .headlines .maintxt {
    margin-top: 0%;
  }
  .tech {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lista {
    text-align: start;
  }
  .cvimg {
    margin-left: 30%;
    margin-bottom: 10%;
  }
  .imgclascv {
    display: block;
    margin: 0 auto;
    border-radius: 70px;
    width: 70%;
  }
  .skills {
    margin-top: 10%;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
  .emailclas {
    text-decoration: none;
    text-decoration-line: underline;
    margin-left: 10px;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .contactinfo {
    text-decoration: none;
    font-weight: 400;
    width: 250px;
  }
  .phoneclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .adressclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .headermain {
    display: grid;
  }
  .footer-copywrite {
    margin-top: 1em;
  }
}
@media (min-width: 992px) {
  .contactinfo {
    width: 400px;
  }
  .maintxtpcheader {
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .maincontent {
    display: none;
    width: 100%;
  }
  .headlines {
    display: none;
  }
  .maincontentpc {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .left-column {
    flex: 1;
    margin-right: 10%;
    margin-left: 50px;
  }
  .right-column {
    flex: 1;
    margin-left: 10%;
    margin-right: -50px;
  }
  .left-column,
  .right-column {
    max-width: 100%;
  }
  .imgclascv {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 70px;
  }
  .flag-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .flag {
    width: 80px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .flag:hover {
    transform: scale(1.2);
  }
  .swelink {
    background-color: green;
    width: 500px;
    height: 500px;
  }
  .headlines {
    display: grid;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .headerlinksflags {
    overflow: visible;
    cursor: pointer;
  }
  .tech {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lista {
    text-align: start;
  }
  .skills {
    margin-top: 10%;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
  .emailclas {
    text-decoration: none;
    text-decoration-line: underline;
    margin-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .phoneclas {
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .adressclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  footer .footermain {
    background-color: #f5f5f5;
    display: grid;
    margin-left: 10%;
  }
}
@media (min-width: 1200px) {
  .contactinfo {
    width: 400px;
  }
  .maintxtpcheader {
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .maincontent {
    display: none;
    width: 100%;
  }
  .headlines {
    display: none;
  }
  .maincontentpc {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .left-column {
    flex: 1;
    margin-right: 10%;
    margin-left: 50px;
  }
  .right-column {
    flex: 1;
    margin-left: 10%;
    margin-right: -50px;
  }
  .left-column,
  .right-column {
    max-width: 100%;
  }
  .imgclascv {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 100px;
  }
  .flag-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .flag {
    width: 80px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .flag:hover {
    transform: scale(1.2);
  }
  .swelink {
    background-color: green;
    width: 500px;
    height: 500px;
  }
  .headlines {
    display: grid;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .headerlinksflags {
    overflow: visible;
    cursor: pointer;
  }
  .tech {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    text-align: center;
    margin-bottom: 100px;
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  h6 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .lista {
    text-align: start;
  }
  .europass {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 10%;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
  .emailclas {
    text-decoration: none;
    text-decoration-line: underline;
    margin-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .phoneclas {
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .adressclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  footer .footermain {
    background-color: #f5f5f5;
    display: grid;
    margin-left: 10%;
  }
}
@media (min-width: 1400px) {
  .contactinfo {
    width: 400px;
  }
  .maintxtpcheader {
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .maincontent {
    display: none;
    width: 100%;
  }
  .headlines {
    display: none;
  }
  .maincontentpc {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .left-column {
    flex: 1;
    margin-right: 10%;
    margin-left: 50px;
  }
  .right-column {
    flex: 1;
    margin-left: 10%;
    margin-right: -50px;
  }
  .left-column,
  .right-column {
    max-width: 100%;
  }
  .imgclascv {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 100px;
  }
  .flag-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .flag {
    width: 80px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .flag:hover {
    transform: scale(1.2);
  }
  .swelink {
    background-color: green;
    width: 500px;
    height: 500px;
  }
  .headlines {
    display: grid;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .headerlinksflags {
    overflow: visible;
    cursor: pointer;
  }
  .tech {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  h6 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .lista {
    text-align: start;
  }
  .skills {
    margin-top: 10%;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
  .emailclas {
    text-decoration: none;
    text-decoration-line: underline;
    margin-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .phoneclas {
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  .adressclas {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  footer .footermain {
    background-color: #f5f5f5;
    display: grid;
    margin-left: 10%;
  }
}
